In [2]:
#import Dependencies
import pandas as pd

In [3]:
# Create a reference the CSV file desired
csv_path = "City_Zhvi_AllHomes.csv"

# Read the CSV into a Pandas DataFrame
housing_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
housing_df.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05
0,6181,New York,NY,New York,Queens,1,169800.0,170100.0,170500.0,170700.0,...,637000,641600,644400,646200,648000,652400,657400,661900,667000,671400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,158800.0,158400.0,158100.0,157600.0,...,633900,639200,644300,649400,654200,660700,667800,672200,674200,675200
2,17426,Chicago,IL,Chicago,Cook,3,112800.0,114200.0,115400.0,116200.0,...,221300,221700,222500,223800,224800,225900,227200,227900,228100,227300
3,39051,Houston,TX,Houston,Harris,4,86500.0,86600.0,86600.0,86700.0,...,168300,169300,170500,171500,172200,173300,174500,175500,176500,177200
4,13271,Philadelphia,PA,Philadelphia,Philadelphia,5,48600.0,48400.0,48200.0,48000.0,...,136900,138200,139200,140400,141400,142800,144900,146600,147400,147800

In [8]:
# Remove Unnecessary columns from data frame. Retaining only housing info from the year 2013
housing_df = housing_df[["State","CountyName","SizeRank","2013-01","2013-02","2013-03","2013-04","2013-05","2013-06",
"2013-07","2013-08","2013-09","2013-10","2013-11","2013-12","2014-01","2014-02","2014-03","2014-04","2014-05","2014-06",
"2014-07","2014-08","2014-09","2014-10","2014-11","2014-12","2015-01","2015-02","2015-03","2015-04","2015-05","2015-06",
"2015-07","2015-08","2015-09","2015-10","2015-11","2015-12","2016-01","2016-02","2016-03","2016-04","2016-05","2016-06",
"2016-07","2016-08","2016-09","2016-10","2016-11","2016-12","2017-01","2017-02","2017-03","2017-04","2017-05","2017-06",
"2017-07","2017-08","2017-09","2017-10","2017-11","2017-12","2018-01","2018-02","2018-03","2018-04","2018-05"]]
housing_df.head()

,State,CountyName,SizeRank,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,...,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05
0,NY,Queens,1,446300.0,447500.0,450000.0,454000.0,458500.0,461900.0,465300.0,...,637000,641600,644400,646200,648000,652400,657400,661900,667000,671400
1,CA,Los Angeles,2,403700.0,409900.0,418400.0,426900.0,435500.0,444200.0,451900.0,...,633900,639200,644300,649400,654200,660700,667800,672200,674200,675200
2,IL,Cook,3,161800.0,162500.0,163800.0,165500.0,167500.0,169600.0,172900.0,...,221300,221700,222500,223800,224800,225900,227200,227900,228100,227300
3,TX,Harris,4,116900.0,117400.0,117700.0,118000.0,118500.0,119500.0,120400.0,...,168300,169300,170500,171500,172200,173300,174500,175500,176500,177200
4,PA,Philadelphia,5,99600.0,99100.0,98800.0,98800.0,99200.0,99900.0,100500.0,...,136900,138200,139200,140400,141400,142800,144900,146600,147400,147800

In [9]:
# housing data only for NJ
housing_df = housing_df.loc[housing_df["State"] =="NJ",:]
housing_df.head()

,State,CountyName,SizeRank,2013-01,2013-02,2013-03,2013-04,2013-05,2013-06,2013-07,...,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05
67,NJ,Atlantic,1013,198600.0,198400.0,198100.0,197800.0,197100.0,197000.0,198400.0,...,186100,186700,187100,188100,189600,191200,192400,193200,193700,194100
77,NJ,Atlantic,1607,158800.0,159400.0,160100.0,160700.0,160600.0,160800.0,161500.0,...,152500,152900,152600,152100,151100,150500,151300,152200,152100,152000
184,NJ,Atlantic,2556,162500.0,163100.0,163100.0,162800.0,162300.0,162100.0,163000.0,...,148800,149100,149800,150500,150500,150500,151300,151800,151800,151900
240,NJ,Atlantic,3002,176900.0,178100.0,179300.0,180200.0,180800.0,181600.0,183500.0,...,198000,199000,200100,200300,200200,199300,197200,195200,193200,190600
314,NJ,Atlantic,3869,183900.0,184400.0,184700.0,186200.0,188100.0,189900.0,191900.0,...,166700,165500,164200,164900,167300,170200,173400,175800,177500,179100

In [13]:
# Find housing value Avg for every year 
value_2013 = housing_df.loc[: , "2013-01":"2013-12"]
housing_df["2013"] = value_2013.mean(axis=1)

value_2014 = housing_df.loc[:,"2014-01":"2014-12"]
housing_df["2014"] = value_2014.mean(axis=1)

value_2015= housing_df.loc[:,"2015-01":"2015-12"]
housing_df["2015"] = value_2015.mean(axis=1)

value_2016 = housing_df.loc[:,"2016-01":"2016-12"]
housing_df["2016"] = value_2016.mean(axis=1)


value_2017 = housing_df.loc[:,"2017-01":"2017-12"]
housing_df["2017"] = value_2017.mean(axis=1)


value_2018 = housing_df.loc[:,"2018-01":"2018-05"]
housing_df["2018"] = value_2018.mean(axis=1)

In [16]:
#data frame with only relevant columns
housing_df = housing_df[["State","CountyName","SizeRank","2013","2014","2015","2016","2017","2018"]]
pd.options.display.float_format = '{:.2f}'.format
housing_df

,State,CountyName,SizeRank,2013,2014,2015,2016,2017,2018
67,NJ,Atlantic,1013,199575.00,205091.67,192500.00,182875.00,182658.33,192920.00
77,NJ,Atlantic,1607,161408.33,160200.00,152891.67,144816.67,149700.00,151620.00
184,NJ,Atlantic,2556,162533.33,156425.00,150050.00,145358.33,145575.00,151460.00
240,NJ,Atlantic,3002,182375.00,187583.33,181025.00,183175.00,197800.00,195100.00
314,NJ,Atlantic,3869,190383.33,199208.33,183841.67,171200.00,164900.00,175200.00
359,NJ,Atlantic,3905,237750.00,234041.67,221600.00,215208.33,218783.33,234340.00
409,NJ,Atlantic,4514,198575.00,196141.67,184666.67,171850.00,170541.67,176400.00
425,NJ,Atlantic,4595,167591.67,168833.33,151916.67,145091.67,144925.00,151460.00
563,NJ,Atlantic,4676,299866.67,297850.00,284358.33,264108.33,279333.33,285240.00
570,NJ,Atlantic,4942,165075.00,165116.67,156716.67,139616.67,144641.67,163960.00
595,NJ,Atlantic,5525,247108.33,254300.00,240258.33,222783.33,222041.67,249000.00
615,NJ,Atlantic,5760,178275.00,186383.33,171441.67,166250.00,162725.00,160620.00
667,NJ,Atlantic,6307,447733.33,436325.00,409158.33,430216.67,443058.33,452660.00
681,NJ,Atlantic,6532,142750.00,144183.33,138850.00,133916.67,136858.33,143840.00
756,NJ,Atlantic,6754,154633.33,164583.33,165358.33,148725.00,151483.33,156280.00
776,NJ,Atlantic,8832,188308.33,193025.00,183783.33,180016.67,178783.33,188040.00
798,NJ,Atlantic,9825,169508.33,161050.00,153033.33,155441.67,157616.67,157120.00
819,NJ,Atlantic,9991,142166.67,131900.00,141925.00,135608.33,144041.67,152260.00
821,NJ,Atlantic,11522,738600.00,787108.33,711283.33,697741.67,728000.00,729580.00
829,NJ,Atlantic,11609,210550.00,206241.67,202258.33,188841.67,184016.67,180820.00
849,NJ,Atlantic,12801,144400.00,135891.67,130233.33,129241.67,123991.67,138580.00
851,NJ,Bergen,1032,231766.67,232625.00,231208.33,236141.67,253066.67,269960.00
860,NJ,Bergen,1157,319433.33,324475.00,327533.33,337458.33,358908.33,383240.00
865,NJ,Bergen,1277,439558.33,469016.67,491416.67,506816.67,525225.00,556880.00
873,NJ,Bergen,1400,349966.67,360833.33,365600.00,384233.33,391783.33,411940.00
888,NJ,Bergen,1460,263816.67,269000.00,269466.67,285425.00,304016.67,337460.00
944,NJ,Bergen,1676,305108.33,318675.00,322791.67,334583.33,358150.00,380020.00
949,NJ,Bergen,1702,290083.33,301408.33,313550.00,322741.67,340691.67,367640.00
956,NJ,Bergen,1732,515491.67,531608.33,545741.67,545650.00,580725.00,602520.00
974,NJ,Bergen,1823,644608.33,658733.33,657475.00,673225.00,706091.67,714400.00
...,...,...,...,...,...,...,...,...,...
11502,NJ,Union,3708,521408.33,548141.67,549875.00,562166.67,579525.00,622760.00
11521,NJ,Union,3768,530083.33,550050.00,555050.00,588500.00,600725.00,645400.00
11571,NJ,Union,3906,232208.33,241083.33,234216.67,236533.33,249908.33,281520.00
11588,NJ,Union,5317,542200.00,556525.00,570241.67,595333.33,632325.00,620040.00
11607,NJ,Union,5385,322266.67,322825.00,311350.00,323116.67,344933.33,358340.00
11608,NJ,Union,5440,392625.00,403816.67,421458.33,434600.00,446683.33,457160.00
11620,NJ,Union,6861,316816.67,340708.33,353166.67,356950.00,383150.00,396260.00
11623,NJ,Warren,2997,93791.67,79250.00,88275.00,79308.33,88283.33,98560.00
11627,NJ,Warren,3755,178966.67,179783.33,182383.33,171316.67,185816.67,194580.00
11629,NJ,Warren,4187,225533.33,240941.67,239258.33,237083.33,235058.33,253020.00
11756,NJ,Warren,4766,187416.67,188375.00,200550.00,209758.33,210541.67,214980.00
11845,NJ,Warren,5859,278308.33,285258.33,287408.33,305583.33,323891.67,321400.00
11907,NJ,Warren,6330,179075.00,174883.33,180108.33,185708.33,179641.67,189760.00
12018,NJ,Warren,6401,263433.33,275841.67,273591.67,276058.33,293133.33,293360.00
12029,NJ,Warren,6661,229658.33,242308.33,248916.67,238925.00,237233.33,261360.00
12097,NJ,Warren,7384,209816.67,215783.33,209175.00,214250.00,224666.67,225100.00
12137,NJ,Warren,7809,157491.67,155741.67,155875.00,162508.33,162716.67,169840.00
12168,NJ,Warren,8023,249083.33,263891.67,261783.33,263658.33,283533.33,288380.00
12213,NJ,Warren,8148,223408.33,227841.67,231416.67,230383.33,231783.33,235480.00
12253,NJ,Warren,8287,234325.00,245083.33,243750.00,245816.67,254658.33,263260.00
12410,NJ,Warren,8420,229558.33,238908.33,239141.67,239266.67,236158.33,244600.00
12418,NJ,Warren,8631,187841.67,183375.00,193325.00,195883.33,205033.33,208800.00
12530,NJ,Warren,8747,243650.00,253125.00,251541.67,253316.67,260700.00,269140.00
12639,NJ,Warren,8964,156433.33,148641.67,154516.67,162241.67,164600.00,168800.00
12673,NJ,Warren,9018,154933.33,152050.00,156558.33,163083.33,152283.33,165200.00
12744,NJ,Warren,9236,298116.67,330900.00,312108.33,300533.33,298358.33,308960.00
12800,NJ,Warren,9291,220733.33,236600.00,235966.67,221483.33,246366.67,244340.00
12834,NJ,Warren,9988,245700.00,267108.33,261341.67,258675.00,272800.00,281340.00
12841,NJ,Warren,10215,262966.67,279675.00,276258.33,264716.67,277808.33,296920.00
12842,NJ,Warren,11268,215408.33,223775.00,221291.67,220166.67,229358.33,239540.00

In [19]:
housing_state = housing_df.groupby('CountyName')['2013','2014','2015','2016','2017','2018'].mean()
housing_state

                2013      2014      2015      2016      2017      2018
CountyName
Atlantic   225198.41 227213.49 214626.19 207242.06 211022.62 218404.76
Bergen     493766.18 511268.01 510714.22 522038.73 551667.89 571970.59
Burlington 223266.89 228405.26 227919.30 227161.40 237149.56 244895.79
Camden     163190.23 165637.78 165686.67 166734.72 174876.94 183044.67
Cape May   359397.92 366462.92 375102.08 386435.42 401520.42 439431.00
Cumberland 124882.29 124473.96 123242.71 124985.42 126943.75 137175.00
Essex      463166.67 487060.32 497786.11 507746.03 546668.25 565938.10
Gloucester 182504.02 184752.87 189901.15 190931.90 194980.75 202637.93
Hudson     311029.55 328904.55 340972.73 366520.45 410190.15 454834.55
Hunterdon  315458.70 320876.09 322732.25 320935.14 333397.10 345884.35
Mercer     356472.22 366619.44 378511.11 377259.03 393552.08 403688.33
Middlesex  261219.25 279782.76 284088.51 284778.74 299920.98 318301.38
Monmouth   466125.93 488437.22 499757.78 513096.85 536106.11 563707.56
Morris     419695.83 438145.39 443750.44 449500.88 468189.47 479682.63
Ocean      375847.22 377282.69 385101.92 391564.96 416401.71 436070.26
Passaic    272785.94 284292.19 285426.04 295864.58 306396.35 330938.75
Salem      159972.92 158854.86 160271.53 156268.75 158684.03 167545.00
Somerset   383459.65 402455.26 400246.49 404217.11 419153.95 438747.37
Sussex     208175.36 217781.88 213247.46 200355.43 212092.39 225200.00
Union      351794.58 362471.67 369311.25 381974.58 406194.17 432429.00
Warren     214158.70 221267.03 221936.59 221727.17 228453.26 236379.13